<a href="https://colab.research.google.com/github/HarshadaE25/AI-Interns-Projects/blob/main/SkyCity_Auckland_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("/content/SkyCity Auckland Restaurants & Bars.csv")
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1696 entries, 0 to 1695
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CuisineType            1696 non-null   object
 1   RestaurantID           1696 non-null   int64
 2   RestaurantName         1696 non-null   object
 3   Segment                1696 non-null   object
 4   Subregion              1696 non-null   object
 5   GrowthFactor           1696 non-null   float64
 6   AOV                    1696 non-null   float64
 7   MonthlyOrders          1696 non-null   int64
 8   InStoreOrders          1696 non-null   int64
 9   InStoreRevenue         1696 non-null   float64
 10  UberEatsOrders         1696 non-null   int64
 11  DoorDashOrders         1696 non-null   int64
 12  SelfDeliveryOrders     1696 non-null   int64
 13  UberEatsRevenue        1696 non-null   float64
 14  DoorDashRevenue        1696 non-null   float64
 15  SelfDeliveryRevenue    1696 non-null   float64
 16  COGSRate               1696 non-null   float64
 17  OPEXRate               1696 non-null   float64
 18  CommissionRate         1696 non-null   float64
 19  DeliveryRadiusKM       1696 non-null   int64
 20  DeliveryCostPerOrder   1696 non-null   float64
 21  SD_DeliveryTotalCost   1696 non-null   float64
 22  InStoreNetProfit       1696 non-null   float64
 23  UberEatsNetProfit      1696 non-null   float64
 24  DoorDashNetProfit      1696 non-null   float64
 25  SelfDeliveryNetProfit  1696 non-null   float64
 26  InStoreShare           1696 non-null   float64
 27  UE_share               1696 non-null   float64
 28  DD_share               1696 non-null   float64
 29  SD_share               1696 non-null   float64
dtypes: float64(19), int64(7), object(4)
memory usage: 397.6+ KB

,RestaurantID,GrowthFactor,AOV,MonthlyOrders,InStoreOrders,InStoreRevenue,UberEatsOrders,DoorDashOrders,SelfDeliveryOrders,UberEatsRevenue,...,DeliveryCostPerOrder,SD_DeliveryTotalCost,InStoreNetProfit,UberEatsNetProfit,DoorDashNetProfit,SelfDeliveryNetProfit,InStoreShare,UE_share,DD_share,SD_share
count,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,...,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000,1696.000000
mean,25848.500000,1.028255,38.516887,1190.527123,218.980542,8422.392730,471.906250,257.155071,242.485259,18170.030360,...,3.119363,755.783886,2257.321557,152.410425,89.105100,2139.315118,0.225654,0.486763,0.265242,0.247995
std,489.737345,0.022700,4.459408,422.334848,149.758619,5851.233352,171.781981,92.605301,129.950736,6959.241673,...,1.344848,541.323056,1618.692119,2340.125579,1271.832584,1875.802610,0.126977,0.067685,0.034294,0.094582
min,25001.000000,0.990000,29.790000,441.000000,13.000000,412.360000,142.000000,81.000000,60.000000,5050.950000,...,0.890000,53.400000,155.000000,-7787.110000,-4349.940000,-983.280000,0.030000,0.350000,0.200000,0.150000
25%,25424.750000,1.030000,34.787500,827.000000,101.000000,3904.342500,331.000000,179.750000,146.000000,12524.745000,...,1.770000,358.662500,1122.580000,-1291.512500,-718.617500,807.867500,0.110000,0.450000,0.250000,0.150000
50%,25848.500000,1.040000,38.340000,1182.000000,178.000000,6791.430000,456.000000,249.000000,212.000000,17548.980000,...,3.250000,601.800000,1785.720000,676.685000,369.665000,1742.945000,0.210000,0.500000,0.250000,0.200000
75%,26272.250000,1.050000,42.495000,1525.000000,307.000000,11550.755000,602.000000,326.250000,306.250000,23016.000000,...,4.130000,1005.030000,2848.090000,1581.570000,862.602500,2995.282500,0.320000,0.550000,0.300000,0.300000
max,26696.000000,1.050000,47.230000,2337.000000,819.000000,35356.230000,937.000000,466.000000,702.000000,43038.960000,...,5.310000,3653.280000,10474.680000,8275.570000,4514.880000,13222.100000,0.550000,0.600000,0.300000,0.450000

In [2]:
df["calculated_Total"] = (
    df["InStoreOrders"] +
    df["UberEatsOrders"] +
    df["DoorDashOrders"] +
    df["SelfDeliveryOrders"]
)
df["Order_Match"] = df["calculated_Total"] == df["MonthlyOrders"]

# df["Order_Match"].value_count()

In [3]:
channel_totals = {
    "InStoreOrders": df["InStoreOrders"].sum(),
    "UberEats": df["UberEatsOrders"].sum(),
    "DoorDash": df["DoorDashOrders"].sum(),
    "selfDelivery": df["SelfDeliveryOrders"].sum()
}

channel_df = pd.DataFrame.from_dict (
    channel_totals, orient="index", columns=["TotalOrders"]

)

channel_df

               TotalOrders
InStoreOrders       371391
UberEats            800353
DoorDash            436135
selfDelivery        411255

In [4]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("SkyCity Auckland Restaurants & Bars.csv")

# -------------------------------------------------
# Step 1: Calculate Total Share
# -------------------------------------------------
df["Calculated_Total_Share"] = (
    df["InStoreShare"] +
    df["UE_share"] +
    df["DD_share"] +
    df["SD_share"]
)

# -------------------------------------------------
# Step 2: Define Tolerance (for rounding error)
# -------------------------------------------------
tolerance = 1  # Allow ±1%

# -------------------------------------------------
# Step 3: Identify Inconsistent Rows
# -------------------------------------------------
df["Share_Difference"] = df["Calculated_Total_Share"] - 100

inconsistent_rows = df[
    df["Share_Difference"].abs() > tolerance
]

# -------------------------------------------------
# Step 4: Print Results
# -------------------------------------------------
print("Total Restaurants:", len(df))
print("Number of Share Inconsistencies:", len(inconsistent_rows))

# Show problematic records (if any)
inconsistent_rows[[
    "RestaurantID",
    "RestaurantName",
    "Calculated_Total_Share",
    "Share_Difference"
]]

Total Restaurants: 1696
Number of Share Inconsistencies: 1696

,RestaurantID,RestaurantName,Calculated_Total_Share,Share_Difference
0,25731,Urban Burgers House,1.42,-98.58
1,25123,Urban Burgers Diner,1.23,-98.77
2,25177,King Burgers Eatery,1.44,-98.56
3,25540,Classic Burgers Tavern,1.25,-98.75
4,25258,Lucky Burgers Bistro,1.27,-98.73
...,...,...,...,...
1691,26412,Lotus Bistro,1.07,-98.93
1692,26275,Dragon Bistro,1.07,-98.93
1693,26454,Dragon Corner,1.09,-98.91
1694,25699,Golden Corner,1.13,-98.87
1695,26388,Lotus Grill,1.17,-98.83

In [5]:
df.head()

,CuisineType,RestaurantID,RestaurantName,Segment,Subregion,GrowthFactor,AOV,MonthlyOrders,InStoreOrders,InStoreRevenue,...,InStoreNetProfit,UberEatsNetProfit,DoorDashNetProfit,SelfDeliveryNetProfit,InStoreShare,UE_share,DD_share,SD_share,Calculated_Total_Share,Share_Difference
0,Burgers,25731,Urban Burgers House,Cafe,North Shore,1.03,43.97,668,197,8662.09,...,3682.14,1352.45,752.78,2177.19,0.42,0.45,0.25,0.3,1.42,-98.58
1,Burgers,25123,Urban Burgers Diner,QSR,South Auckland,1.05,40.45,1388,259,10476.55,...,3605.72,1318.61,731.99,3119.38,0.23,0.45,0.25,0.3,1.23,-98.77
2,Burgers,25177,King Burgers Eatery,Cafe,West Auckland,1.04,40.03,1717,524,20975.72,...,7810.95,1555.90,863.42,4172.99,0.44,0.45,0.25,0.3,1.44,-98.56
3,Burgers,25540,Classic Burgers Tavern,QSR,North Shore,1.03,36.28,1083,216,7836.48,...,2546.02,-72.25,-40.20,2833.26,0.25,0.45,0.25,0.3,1.25,-98.75
4,Burgers,25258,Lucky Burgers Bistro,Cafe,South Auckland,1.05,34.34,1230,261,8962.74,...,3093.09,226.17,125.53,2674.56,0.27,0.45,0.25,0.3,1.27,-98.73